!!!
%html
  %head
    %title NavExample
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %ul{class: navigation.current_selector}
      - navigation.items.each do |item|
        %li{class: item.selector}= link_to item.text, item
    = yield
